<h1>Pages#answer</h1>
<p>Find me in app/views/pages/answer.html.erb</p>

<p>Your question</p><br />
<%= @query %><br /><br />
<p>Answer</p><br />
<%= @answer %> <br />

<hr>

<%= link_to "Ask a new question", ask_path %>
